<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

    <h1>Editar Rutina</h1>

    <form th:action="@{/rutinas/save}"
          th:object="${rutina}"
          method="post">

        <input type="hidden"
               th:field="*{id}">

        <div class="mb-3">

            <label class="form-label">Cliente</label>

            <select class="form-select"
                    th:field="*{cliente.id}">

                <option value="">Seleccione un cliente</option>

                <option th:each="cliente : ${clientes}"
                        th:value="${cliente.id}"
                        th:text="${cliente.usuario.email}">
                </option>

            </select>

            <div class="text-danger"
                 th:if="${#fields.hasErrors('cliente')}"
                 th:errors="*{cliente}">
            </div>

        </div>

        <div class="mb-3">

            <label class="form-label">Entrenador</label>

            <select class="form-select"
                    th:field="*{entrenador.id}">

                <option value="">Seleccione un entrenador</option>

                <option th:each="entrenador : ${entrenadores}"
                        th:value="${entrenador.id}"
                        th:text="${entrenador.usuario.email}">
                </option>

            </select>

            <div class="text-danger"
                 th:if="${#fields.hasErrors('entrenador')}"
                 th:errors="*{entrenador}">
            </div>

        </div>

        <div class="mb-3">

            <label class="form-label">Nombre</label>

            <input type="text"
                   class="form-control"
                   th:field="*{nombre}">

            <div class="text-danger"
                 th:if="${#fields.hasErrors('nombre')}"
                 th:errors="*{nombre}">
            </div>

        </div>

        <div class="mb-3">

            <label class="form-label">Fecha de creación</label>

            <input type="text"
                   class="form-control"
                   th:value="${rutina.fechaCreacion}"
                   readonly>

        </div>

        <button type="submit"
                class="btn btn-outline-success">
            Guardar cambios
        </button>

        <a th:href="@{/rutinas}"
           class="btn btn-outline-secondary">
            Regresar
        </a>

    </form>

</div>