<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de Membresías de Clientes</h1>

    <a th:href="@{/membresias-clientes/create}"
       class="btn btn-outline-primary">
        Nueva membresía
    </a>

    <table class="table table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Tipo de membresía</th>
            <th>Fecha de inicio</th>
            <th>Fecha de vencimiento</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="item : ${membresias}">

            <td th:text="${item.id}"></td>

            <td th:text="${item.cliente.usuario.email}"></td>

            <td th:text="${item.tipoMembresia.nombre}"></td>

            <td th:text="${item.fechaInicio}"></td>

            <td th:text="${item.fechaVencimiento}"></td>

            <td>
                <a th:href="@{/membresias-clientes/details/{id}(id=${item.id})}"
                   class="btn btn-outline-secondary">
                    Detalles
                </a>

                |

                <a th:href="@{/membresias-clientes/edit/{id}(id=${item.id})}"
                   class="btn btn-outline-info">
                    Editar
                </a>

                |

                <a th:href="@{/membresias-clientes/remove/{id}(id=${item.id})}"
                   class="btn btn-outline-danger">
                    Eliminar
                </a>
            </td>

        </tr>

        </tbody>

    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">

            <li class="page-item"
                th:each="pageNumber : ${pageNumbers}">

                <a class="page-link"
                   th:href="@{|/membresias-clientes?page=${pageNumber}|}"
                   th:text="${pageNumber}">
                </a>

            </li>

        </ul>
    </nav>

</div>